<h1>編集画面</h1>
<%= notice %>
<%= form_with(model: @post, url:edit_confirm_post_path, local: true, method: :patch ) do |form| %>
  <%= form.label :text %>
  <%= form.text_field :text %>
  
  <%= form.label :image %>
  <%= image_tag(@post.image.url) if @post.image.url %>
  <%= form.file_field :image %>
  
  <%= form.submit %>
<% end %>

<!--<%= link_to 'トップに戻る', posts_path %>-->