<h1>投稿画面</h1>
<%= notice %>
<%= form_with(model: @post, url:confirm_posts_path, local: true, method: :post ) do |form| %>
  <%= form.label :text %>
  <%= form.text_field :text %>
  
  <%= form.label :image %>
  <%= form.file_field :image %>
  
  <%= form.submit %>
<% end %>

<%= link_to 'トップに戻る', posts_path %>